# Ignorar a pasta 'files'
files/

# Ignora vectordb
chroma_db/

# Ignorar todos os arquivos com extensão .pdf
*.pdf

# Ignorar arquivos .env
.env

# Ignorar pastas __pycache__
__pycache__/

# Ignora venv
venv/